body {
    font-family: 'Papyrus', fantasy, cursive;
    padding: 2rem;
    padding-top: 2rem;
    background: linear-gradient(to bottom, #2c1f3c, #0e0a1f);
    color: #f3e9ff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    text-align: center;
}

form {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #8b5cf6;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #8b5cf6;
    max-width: 500px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


input, button {
    margin: 0.5rem 0;
    display: block;
    padding: 0.5rem;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid #d1b3ff;
    border-radius: 5px;
    background: #372a50;
    color: #f3e9ff;
}

button {
    background: #8b5cf6;
    color: white;
    font-weight: normal;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #a78bfa;
}

#result {
    margin-top: 10%;
    padding: 1.5rem;
    background-color: #281c3e;
    border: 1px solid #8b5cf6;
    border-radius: 8px;
    box-shadow: 0 0 8px #8b5cf6;
    white-space: pre-wrap;
    width: 100%;
    max-width: 800px;
    min-height: 18px;
}
